[submodule "ext/dreamerv2"]
	path = ext/dreamerv2
	url = https://github.com/linhongbin-ws/dreamerv2.git
[submodule "ext/equi-rl-for-pomdps"]
	path = ext/equi-rl-for-pomdps
	url = https://github.com/hai-h-nguyen/equi-rl-for-pomdps.git
